.containe {
    
    margin-top: 0px;
    
    width: 100%;
    height: 100%;
    /* background-image: url("/assets/images/AdobeStock_215322148.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
  }
  .example-card {
    max-width: 50%;
    margin: auto;
    border-radius: 2rem;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    /* background-image: linear-gradient(
      to right top,
      #dfeaeb,
      #cdd9db,
      #b7c8ce,
      #ffffff,
      #dae3e9,
      #ffffff,
      #ffffff,
      #ffffff,
      #ffffff,
      #bab9df,
      #dddbef,
      #ffffff
    );
     */
     background-color: rgb(132,207,216);
  }
  
  .example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
  }
  .logincard {
    /* margin-top: 100px; */
    align-items: center;
    background-image: url("/assets/images/AdobeStock_215322148.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  mat-card-title {
    justify-content: center;
    margin: 3rem;
    color: rgb(0, 0, 0);
    font-size: xx-large;
    text-shadow: 10px 6px 4px rgba(46, 91, 173, 0.6);
  }
  .loginheader {
    align-items: center;
    display: flex;
  }
  mat-form-field {
    width: 100%;
    position: relative;

  }
  .regbtn { 
    text-align: center;
    margin-top: 50px;
  }
  .halfinput{
    width: 48%;
    margin-right: 10px;
  }
  mat-error {
    /* position: absolute;
    top: 100%;
    left: 0;
    width: 100%; */
    text-align: start;
  }
  .err{
    width: 100%;
    border: 2px;
    border-color: brown;
    background-color: chartreuse;
  }
  