.navbar {
    background-color: rgb(10, 20, 109);
    border: 10px;
    position: fixed;
    z-index: 10;
    width: 100%;
    justify-content: space-between;
    display: flex;
    color: white;
  }
  /* .example-spacer {
    flex: 1 1 auto;
  } */
  mat-toolbar h3 {
    
    font-weight: 500;
    display: inline-block;
    margin: 0px 10px;
    cursor: pointer;
  }
  mat-toolbar h3:hover {
    color: black;
    
  }
  .mobilenav {
    float: right;
    background-color: rgba(24, 223, 190, 0.788);
    width: 250px;
    text-align: center;
    z-index: 3;
    height: 100%;
    position: fixed;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
  }
  .mobilenav :hover{
    color: rgb(0, 0, 0);
  }
  .navlinks {
    visibility: visible;
  }
  .loginButton {
    visibility: visible;
  }
  .menuIcon {
    visibility: hidden;
    font-size: xx-large;
  }
  .extra{
    display: flex;
  }
  .linkandbtn{
    display: flex;
  }
  
  @media (max-width: 906px) {
    .navlinks {
      /* visibility: hidden; */
    }
    .loginButton {
      /* visibility: hidden; */
    }
    .menuIcon {
      visibility: visible;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
    }
    .linkandbtn{
      display: none;
    }
  }
  
  @media (max-width: 906px) {
    .mobile-nave {
      visibility: visible;
    }
  }
  