<mat-toolbar class="navbar">
    <mat-toolbar-row>
      <span><img src="/assets/images/attachment_132385842 (1).png" alt="" ></span>
      <span class="example-spacer"></span>
      <h3 [routerLink]="['']">Home</h3>
      <h3>Book doctors</h3>
      <h3>Online consult</h3>
      <h3>Contact Us</h3>
      <button mat-raised-button color="primary" [routerLink]="['/login']">LOGIN</button>
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button> -->
    </mat-toolbar-row>
  </mat-toolbar>
