.bannerimage {
  /* background-image: url("/assets/images/3464162.jpg"); */
  width: 100%;
  height: 25%;
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, 0);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 70vh;
  border-radius: 0rem;
}
.mainHeading {
  position: absolute;
  color: rgb(255, 255, 255);
  bottom: 60%;
  left: 35%;
}
.doctor {
  font-weight: 800;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 10px 6px 4px rgba(46, 91, 173, 0.6);
  font-size: xx-large;
}

.content {
  position: absolute;
  color: rgb(255, 255, 255);
  bottom: 35%;
  left: 40%;
}
.doc_content {
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
}
.banner_button {
  position: absolute;
  bottom: 15%;
  left: 27%;
}
.searchdiv{
  display: inline;
}
.location{
  margin-right: 0px;
}


.search{
  margin-bottom: auto;
  margin-top: 200px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.411);
  padding: 10px;
}

.search-input{

  color: rgb(255, 255, 255);
  border:0;
  outline: 0;
  background: none;
  width: 0;
  margin-top:5px;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;

}

.search .search-input{
  padding: 0 10px;
  width: 550px;
  caret-color: #536bf6;
  font-size: 21px;
  font-weight: 300;
  color: black;
  transition: width 0.4s linear;
}

.search:hover>.search-icon{
  background:#1A237E;
  color:#fff;
}
.search-icon{

      height: 50px;
  width: 50px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #536bf6;

}
a:link{
  text-decoration: none;
}
.doctors h1{
position: absolute;
  bottom: 80%;
  left: 5%;
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", Times, serif;
}
a {
  color: #fff;
}
