<div class="bannerimage">
  <img src="/assets/images/136949.jpg" alt="" />
  <div class="mainHeading"><h1 class="doctor">DOCTOR APPOINTMENT</h1></div>
  <div class="doctors">
    <h1>Are you a doctor  ?  <a href="" [routerLink]="['/doctor/login']">join</a> us...</h1>
  </div>
  <div class="content">
    <h1 class="doc_content">
      No more waiting! <br />Book your Appointment from home
    </h1>
  </div>
  <div class="banner_button">
    <div class="d-flex justify-content-center h-100">
      <div class="search">
        <input
          type="text"
          class="search-input"
          placeholder="search..."
          name=""
        />
        <a href="#" class="search-icon">
          <i class="fa fa-search"></i>
        </a>
      </div>
    </div>
  </div>
</div>
