.fullcontainer{
    width: 70%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding-top: 50px;

}
.fullcontainer h1{
    text-align: center;
}
.cardheader{
    font-weight: 700;

}
.custom-color-button{
    background-color: rgb(16, 94, 6);
}

/* @media screen and (max-width: 600px) {
    .mat-table {
      width: 100%;
      overflow-x: auto;
    }
  } */