.containe {
    margin-top: 0px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/adminback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .example-card {
    max-width: 50%;
    margin: auto;
    border-radius: 2rem;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    background-image: linear-gradient(
      to right top,
      #0a0a0a,
      
      #ffffff
    );
    
  }
  
  .example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
  }
  .logincard {
    /* margin-top: 100px; */
    align-items: center;
   
  }
  mat-card-title {
    justify-content: center;
      margin: 3rem;
      color: rgb(0, 0, 0);
      font-size: xx-large;
      text-shadow: 10px 6px 4px rgba(46, 91, 173, 0.6);
  }
  .loginheader {
    align-items: center;
    display: flex;
  }
  mat-form-field {
    width: 100%;
  }
  .regbtn {
    text-align: center;
    margin-top: 50px;
  }
  .emailfield  {
    margin-bottom: 1rem;
  }
  .passfield{
    margin-bottom: 1rem;
  }
  mat-error{
    font-size: medium;
  }
  