<div class="container full_login">
  <div class="tabclass">
    <mat-tab-group
      animationDuration="1000ms"
      mat-align-tabs="center"
      class="container tablogin mt-5"
    >
      <div class="logindiv">
        <mat-tab label="Login" class="fiy">
          <div class="container-login" style="display: flex">
            <div class="loginfull row">
              <div class="">
                <mat-card class="login-card col-11">
                  <mat-card-title>Login</mat-card-title>
                  <mat-card-content>
                    <form
                      [formGroup]="loginForm"
                      (ngSubmit)="onLoginSubmit(loginForm)"
                    >
                      <mat-form-field appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input
                          class="mt-2"
                          matInput
                          placeholder="Enter you email address"
                          formControlName="email"
                        />
                        <mat-error
                          *ngIf="
                            allControls?.email?.errors?.email && loginSubmitted
                          "
                          >Invalid Email</mat-error
                        >
                        <mat-error
                          *ngIf="
                            allControls?.email?.errors?.required &&
                            loginSubmitted
                          "
                          >Email is required</mat-error
                        >
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input
                          matInput
                          placeholder="Password"
                          [type]="passhide ? 'password' : 'text'"
                          formControlName="password"
                        />
                        <button
                          mat-icon-button
                          matSuffix
                          (click)="passhide = !passhide"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="passhide"
                        >
                          <mat-icon>{{
                            passhide ? "visibility_off" : "visibility"
                          }}</mat-icon>
                        </button>
                        <mat-error
                          *ngIf="
                            allControls?.password?.errors?.required &&
                            loginSubmitted
                          "
                          >Password is required</mat-error
                        >
                        <mat-error
                          *ngIf="
                            allControls?.password?.errors?.minlength &&
                            loginSubmitted
                          "
                          >Password should contain atleast 8 characters
                        </mat-error>
                      </mat-form-field>
                      <div style="text-align: center">
                        <button mat-raised-button color="primary">Login</button>
                      </div>
                    </form>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <div class="login_image" mat-card-content>
              <img
                class="login1-image"
                style="width: 40%"
                src="/assets/images/illustration.webp"
              />
            </div>
          </div>
        </mat-tab>
      </div>
       <!-- signup -->
       <div class="logindiv">
        <mat-tab label="Signup" class="fiy">
          <div class="container-login" style="display: flex">
            <div class="loginfull row">
              <div class="">
                <mat-card class="login-card col-11">
                  <mat-card-title>JOIN US</mat-card-title>
                  <mat-card-content>
                    <form
                      [formGroup]="loginForm"
                      (ngSubmit)="onLoginSubmit(loginForm)"
                    >
                      <mat-form-field appearance="outline">
                        <mat-label>Full Name</mat-label>
                        <input
                          class="mt-2"
                          matInput
                          placeholder="Enter you email address"
                          formControlName="email"
                        />
                        <mat-error
                          *ngIf="
                            allControls?.email?.errors?.email && loginSubmitted
                          "
                          >Invalid Email</mat-error
                        >
                        <mat-error
                          *ngIf="
                            allControls?.email?.errors?.required &&
                            loginSubmitted
                          "
                          >Email is required</mat-error
                        >
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input
                          matInput
                          placeholder="Password"
                          [type]="passhide ? 'password' : 'text'"
                          formControlName="password"
                        />
                        <button
                          mat-icon-button
                          matSuffix
                          (click)="passhide = !passhide"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="passhide"
                        >
                          <mat-icon>{{
                            passhide ? "visibility_off" : "visibility"
                          }}</mat-icon>
                        </button>
                        <mat-error
                          *ngIf="
                            allControls?.password?.errors?.required &&
                            loginSubmitted
                          "
                          >Password is required</mat-error
                        >
                        <mat-error
                          *ngIf="
                            allControls?.password?.errors?.minlength &&
                            loginSubmitted
                          "
                          >Password should contain atleast 8 characters
                        </mat-error>
                      </mat-form-field>
                      <div style="text-align: center">
                        <button mat-raised-button color="primary">Login</button>
                      </div>
                    </form>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <div class="login_image" mat-card-content>
              <img
                class="login1-image"
                style="width: 40%"
                src="/assets/images/illustration.webp"
              />
            </div>
          </div>
        </mat-tab>
      </div> 

<router-outlet></router-outlet>
