<app-doctor-nav> </app-doctor-nav>
<div class="fullcontainer mb-5">
  <div class="row p-0 d-flex justify-content-around fullcards">
    <h1 class="cardheader" *ngIf="newAppointments.length != 0">New Appointments</h1>
    <div
      class="card text-white bg-dark mb-3 text-center col-lg-4 col-md-6 col-sm-12"
      style="max-width: 18rem"
      *ngFor="let appointment of newAppointments"
    >
      <div class="card-header">Name: {{ appointment.userId.username }}</div>
      <div class="card-body">
        <h5 class="card-title">Email: {{ appointment.userId.email }}</h5>
        <h5 class="card-title">Date: {{ appointment.date }}</h5>
        <h5 class="card-title">Time: {{ appointment.time }}</h5>
        <div class="buttons d-flex justify-content-between mt-5">
          <button
            type="button"
            class="btn btn-outline-success"
            (click)="approve(appointment._id)"
          >
            Approve
          </button>
          <button
            type="button"
            class="btn btn-outline-danger"
            (click)="reject(appointment._id)"
          >
            Reject
          </button>
        </div>
        <!-- <div class="buttons d-flex justify-content-between mt-5">
          <button
            type="button"
            class="btn btn-outline-success"
            
          >
            Approve
          </button>
          <button
            type="button"
            class="btn btn-outline-danger"
            (click)="reject(doctor._id)"
          >
            Reject
          </button>
        </div> -->
      </div>
    </div>
  </div>
  <h1 class="cardheader mt-5" >Appointments</h1>
    <div class="tablefull">
        <div class="headertable d-flex">
          <div>
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input
                matInput
                (keyup)="applyFilter($event)"
                placeholder="Ex. Mia"
                #input
              />
            </mat-form-field>
          </div>
         
        </div>
    
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
              <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
            </ng-container>
    
            <!-- Progress Column -->
            <ng-container matColumnDef="patient">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Patient</th>
              <td mat-cell *matCellDef="let row">{{ row.userId.username }}</td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
              <td mat-cell *matCellDef="let row">{{ row.userId.email }}</td>
            </ng-container>
    
            <!-- Fruit Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
              <td mat-cell *matCellDef="let row">{{ row.date }}</td>
            </ng-container>
            <ng-container matColumnDef="time">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                time
              </th>
              <td mat-cell *matCellDef="let row">{{ row.time }}</td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let row">{{ row.status }}</td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
    
              <td mat-cell *matCellDef="let row">
                <ng-container
                  *ngIf="row.status === 'Placed'; then trueButton;"
                ></ng-container>
                <ng-template #trueButton>
                  <button mat-fab extended color="warn" (click)="cancel(row._id)">
                    <mat-icon>block</mat-icon>
                    Cancel
                  </button>
                </ng-template>
                <!-- <ng-template #falseButton>
                  <button mat-fab extended   class="custom-color-button">
                    <mat-icon>check_circle_outline</mat-icon>
                    unblock
                  </button>
                </ng-template> -->
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                No data matching the filter "{{ input.value }}"
              </td>
            </tr>
          </table>
    
          <mat-paginator
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page of users"
          ></mat-paginator>
        </div>
      </div>
</div>
