.searchdiv{
    display: inline;
}
.sortdiv{
    display: flex;
    background-color:rgb(28, 187, 89);
    align-items: center;
    margin-bottom: 50px;
    height: 40px;
    color: antiquewhite;
}
.doccard{
    width: 70%;
    margin: auto;
}



.search{
    margin-bottom: auto;
    margin-top: 0px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.search-input{

    color: white;
    border:0;
    outline: 0;
    background: none;
    width: 0;
    margin-top:5px;
    caret-color:transparent;
    line-height: 0px;
    transition: width 0.4s linear;
    border-color: black;
    border-width: 20px;

}

.search .search-input{
    padding: 0 10px;
    width: 550px;
    caret-color: #536bf6;
    font-size: 16px;
    font-weight: 400;
    color: black;
    transition: width 0.4s linear;
}

.search:hover>.search-icon{
    background:#1A237E;
    color:#fff;
}
.search-icon{

        height: 32px;
    width: 32px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #536bf6;

}
a:link{
    text-decoration: none;
}
/* card */
.image{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.docname{
    font-size: larger;
    color: #1A237E;
    font-weight: 500;
    margin-left: 0px;
}
p {
    font-size: small;
    font-weight: 500;
    
}
.searchItem {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    background-color: rgb(245, 245, 245);
    
  }
  
  .siImg {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .siDesc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
  }
  
  .siTitle {
    font-size: 20px;
    color: rgb(28, 187, 89);
    font-weight: 500;
  }
  
  .siDistance {
    font-size: 12px;
    font-weight: 500;
  ;
  }
  
  .siTaxiOp {
    font-size: 12px;
    background-color:rgb(28, 187, 89);
    color: white;
    width: max-content;
    padding: 6px;
    border-radius: 5px;
  }
  
  .siSubtitle{
    font-size: 12px;
    font-weight: bold;
  }
  
  
  .siCancelOp{
    font-size: 12px;
    color: #008009;
    font-weight: bold;
  }
  .siDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
  }
 
  .siDetailTexts{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .siPrice{
    font-size: 14px;
    color: rgb(28, 187, 89);
    font-weight: 800;
  }
  .siCheckButton{
    background-color: rgb(28, 187, 89);
    color: white;
    font-weight: bold;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
