<div>
    <app-user-nav></app-user-nav>
  </div>
  <div class="fulldiv mt-">
    <div class="searchdiv d-flex justify-content-center mt-2 mb-3">
      <div class="d-flex justify-content-center h-100">
        <div class="search">
            <input type="text" class="search-input"  placeholder="Enter location or doctor name" name="search">
            <a href="#" class="search-icon">
                <i class="fa fa-search"></i>
            </a>
        </div>
    </div>
    </div>
    <div class="sortdiv d-flex justify-content-around">
      
    </div>
    <div class="doccard ">
        <div class="paginationdiv">
  
          <div class="searchItem" *ngFor="let doctor of onlineDoctors" >
            <img
              src="https://media.istockphoto.com/id/1150502263/vector/doctor-icon-or-avatar-physician-with-stethoscope-medicine-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=bADu0CBwP4bDQrgIfRVjZ90RwKzTD5-MYqlFFnLD_c0="
              alt=""
              class="siImg"
            />
            <div class="siDesc">
              <h1 class="siTitle">Dr.{{doctor.doctorName}}</h1>
              <span class="siDistance">{{doctor.city}}</span>
              <span class="siTaxiOp">{{doctor.specialization}}</span>
              <span class="siSubtitle">
                {{doctor.experience}} years of experiance
              </span>
              <span class="siCancelOp">Clear your doubts </span>
            </div>
            <div class="siDetails">
              <div class="siDetailTexts">
                <span class="siPrice">Online</span>
                <button class="siCheckButton"(click)="chatNow(doctor._id)">Talk Now</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  