.calender {
    display: flex;
    justify-content: center;
}
.slots {
    margin-bottom: 20px;
}
.containero {
    display: flex;
    width: 100%;
    margin-top: 20px;
    
}
.custom-color-button:active{
    background-color: brown;
}
.custom-color-button:hover{
    background-color: brown;
}
