<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class=" d-flex justify-content-center">
      <div class="widther col-md-6">
        <div class="card card-bordered">
          <div class="card-header">
            <h4 class="card-title"><strong>Online consultaion</strong></h4>
          </div>

          <div
            class="ps-container ps-theme-default ps-active-y"
            id="chat-content"
            style="overflow-y: scroll !important; height: 400px !important;scrollbar-width: none !important; "
            ><style>
              /* hide the native scrollbar */
              #chat-content::-webkit-scrollbar {
                display: none;
              }
          
              /* custom scrollbar styles */
              #chat-content {
                scrollbar-width: thin;
                scrollbar-color: gray lightgray;
              }
              
              #chat-content::-webkit-scrollbar-thumb {
                background-color: gray;
                border-radius: 10px;
              }
              
              #chat-content::-webkit-scrollbar-track {
                background-color: lightgray;
                border-radius: 10px;
              }
            </style>
            <div *ngFor="let msg of allMessages">

              <div
                class="media media-chat"
                *ngIf="msg.senderId === userId; else recievedmsg">
                <img
                  class="avatar"
                  src="https://img.icons8.com/color/36/000000/administrator-male.png"
                  alt="..."
                  />
                <div class="media-body" id="sendchat">
                  <p>{{ msg.messages }}</p>
                </div>
              </div>
              <ng-template #recievedmsg>
                <div class="media media-chat media-chat-reverse">
                  <div class="media-body">
                    <p>{{ msg.messages }}</p>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>

          <div class="publisher bt-1 border-light">
            <img
              class="avatar avatar-xs"
              src="https://img.icons8.com/color/36/000000/administrator-male.png"
              alt="..."
              />
            <input
              class="publisher-input"
              type="text"
              placeholder="Write something"
              (input)="onInput($event)"  (keydown.enter)="sendMsg()"
              id="textPlace"
              />
            <a
              class="publisher-btn text-info"
              data-abc="true"
              (click)="sendMsg()"><i class="fa fa-paper-plane"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
