<app-admin-nav></app-admin-nav>
<div class="fullcontainer">
    <div class="headertable d-flex">
        <div>
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Ex. Mia"
              #input
            />
          </mat-form-field>
        </div>
       
      </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
            <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
          </ng-container>
  
          <!-- Progress Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">{{ row.username }}</td>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let row">{{ row.email }}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
  
            <td mat-cell *matCellDef="let row">
              <ng-container
                *ngIf="row.access; then trueButton; else falseButton"
              ></ng-container>
              <ng-template #trueButton>
                <button mat-fab extended color="warn" (click)="accessChange(row._id)">
                  <mat-icon>block</mat-icon>
                  Block
                </button>
              </ng-template>
              <ng-template #falseButton>
                <button mat-fab extended  (click)="accessChange(row._id)" class="custom-color-button">
                  <mat-icon>check_circle_outline</mat-icon>
                  unblock
                </button>
              </ng-template>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
          <!-- Row shown when there is no matching data. -->
          <!-- <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the filter 
              "{{ input.value }}"
            </td>
          </tr> -->
        </table>
  
        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page of users"
        ></mat-paginator>
      
    </div>
</div>
